
/*-------------------------------------
 * customize material design icon sizes 
 *-------------------------------------

 For Landing Page index.html
 */

    html body{

        background-color: #FAF9F6;
    }

    header {

        background-color: #4D77FF !important;
    }

    header a {
            text-decoration: none;
            color: white;
    }

    header a:hover h1{

        color: white;
    }

    .text-end button:hover{

        color: #4D77FF;
    }

    footer {
        background-color: #FFE981;
    }

    footer .nav-link{

        color: black !important;
    }

    footer .footer-text{

        color: black !important;
    }

/*  @media screen and (max-width: 550px) {

            #logo-text{

            }
 } */